/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
}

h1 {
    font-weight: 400;
}

body {
    background-color: #FFF782;
}